@charset "UTF-8";
/* line 1, ../sass/_config.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/*Fuentes*/
/* line 5, ../sass/_base.scss */
.m-xs-top {
  margin-top: 5px;
}

/* line 9, ../sass/_base.scss */
.m-s-top {
  margin-top: 10px;
}

/* line 13, ../sass/_base.scss */
.m-mtop {
  margin-top: 15px;
}

/* line 17, ../sass/_base.scss */
.m-l-top {
  margin-top: 20px;
}

/* line 21, ../sass/_base.scss */
.m-xl-top {
  margin-top: 30px;
}

/* line 25, ../sass/_base.scss */
.m-xs-bottom {
  margin-bottom: 5px;
}

/* line 29, ../sass/_base.scss */
.m-s-bottom {
  margin-bottom: 10px;
}

/* line 33, ../sass/_base.scss */
.m-m-bottom {
  margin-top: 15px;
}

/* line 37, ../sass/_base.scss */
.m-l-bottom {
  margin-bottom: 20px;
}

/* line 41, ../sass/_base.scss */
.m-xl-bottom {
  margin-bottom: 30px;
}

/* line 45, ../sass/_base.scss */
.m-left-xs {
  margin-left: 5px;
}

/* line 49, ../sass/_base.scss */
.m-left {
  margin-left: 10px;
}

/* line 53, ../sass/_base.scss */
.m-left-l {
  margin-left: 20px;
}

/* line 57, ../sass/_base.scss */
.m-left-xl {
  margin-left: 40px;
}

/* line 61, ../sass/_base.scss */
.m-right-xs {
  margin-right: 5px;
}

/* line 65, ../sass/_base.scss */
.m-right {
  margin-right: 10px;
}

/* line 69, ../sass/_base.scss */
.m-right-l {
  margin-right: 20px;
}

/* line 73, ../sass/_base.scss */
.m-right-xl {
  margin-right: 40px;
}

/* line 77, ../sass/_base.scss */
.no-m-top {
  margin-top: 0;
}

/* line 81, ../sass/_base.scss */
.no-m-bottom {
  margin-bottom: 0;
}

/* line 91, ../sass/_base.scss */
.p-xs-top {
  padding-top: 5px;
}

/* line 95, ../sass/_base.scss */
.p-s-top {
  padding-top: 10px;
}

/* line 99, ../sass/_base.scss */
.p-m-top {
  padding-top: 15px;
}

/* line 103, ../sass/_base.scss */
.p-l-top {
  padding-top: 20px;
}

/* line 107, ../sass/_base.scss */
.p-xl-top {
  padding-top: 30px;
}

/* line 111, ../sass/_base.scss */
.p-xxl-top {
  padding-top: 40px;
}

/* line 115, ../sass/_base.scss */
.p-xs-bottom {
  padding-bottom: 5px;
}

/* line 119, ../sass/_base.scss */
.p-s-bottom {
  padding-bottom: 10px;
}

/* line 123, ../sass/_base.scss */
.p-m-bottom {
  padding-bottom: 15px;
}

/* line 127, ../sass/_base.scss */
.p-l-bottom {
  padding-bottom: 20px;
}

/* line 131, ../sass/_base.scss */
.p-xl-bottom {
  padding-bottom: 30px;
}

/* line 135, ../sass/_base.scss */
.p-xxl-bottom {
  padding-bottom: 40px;
}

/* line 139, ../sass/_base.scss */
.p-left-xs {
  padding-left: 5px;
}

/* line 143, ../sass/_base.scss */
.p-left {
  padding-left: 10px;
}

/* line 147, ../sass/_base.scss */
.p-left-l {
  padding-left: 20px !important;
}

/* line 151, ../sass/_base.scss */
.p-left-xl {
  padding-left: 40px;
}

/* line 155, ../sass/_base.scss */
.p-right-xs {
  padding-right: 5px;
}

/* line 159, ../sass/_base.scss */
.p-right {
  padding-right: 10px;
}

/* line 163, ../sass/_base.scss */
.p-right-l {
  padding-right: 20px;
}

/* line 167, ../sass/_base.scss */
.p-right-xl {
  padding-right: 40px;
}

/* line 171, ../sass/_base.scss */
.no-p-right {
  padding-right: 0px;
}

/* line 175, ../sass/_base.scss */
.no-p-left {
  padding-left: 0px;
}

/* line 179, ../sass/_base.scss */
.no-p-lat {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 189, ../sass/_base.scss */
.lh-s {
  line-height: 24px;
}

/* line 198, ../sass/_base.scss */
.noscroll {
  overflow: hidden;
}

/* line 202, ../sass/_base.scss */
.uppc {
  text-transform: uppercase;
}

/* line 206, ../sass/_base.scss */
.fwlight {
  font-weight: lighter;
}

/* line 210, ../sass/_base.scss */
.fwnormal {
  font-weight: normal;
}

/* line 214, ../sass/_base.scss */
.fwbold {
  font-weight: bold;
}

/* line 218, ../sass/_base.scss */
.click {
  cursor: pointer;
}

/* line 222, ../sass/_base.scss */
.displayb {
  display: block;
}

/* line 226, ../sass/_base.scss */
.displayib {
  display: inline-block;
}

/* line 230, ../sass/_base.scss */
.clearb {
  clear: both;
}

/* line 234, ../sass/_base.scss */
.overfh {
  overflow: hidden;
}

/* line 238, ../sass/_base.scss */
.txt-ind {
  text-indent: -9999px !important;
}

/* line 242, ../sass/_base.scss */
.txt-c {
  text-align: center;
}

/* line 246, ../sass/_base.scss */
.txt-ar {
  text-align: right;
}

/* line 250, ../sass/_base.scss */
.txt-al {
  text-align: left;
}

/* line 254, ../sass/_base.scss */
.hddn {
  display: none;
}

/* line 258, ../sass/_base.scss */
.visib {
  visibility: visible;
}

/* line 262, ../sass/_base.scss */
.nvisib  {
  visibility: hidden;
  top: -9999px;
}

/* line 267, ../sass/_base.scss */
.opac {
  opacity: 1 !important;
}

/* line 272, ../sass/_base.scss */
.nopac {
  opacity: 0 !important;
}

/* line 276, ../sass/_base.scss */
.c-obj {
  margin: 0 auto !important;
}

/* line 280, ../sass/_base.scss */
.no-format {
  text-decoration: none;
  font-weight: normal;
}

/* line 285, ../sass/_base.scss */
.no-radius {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

/* line 291, ../sass/_base.scss */
.n-outl {
  outline: none !important;
}

/* line 295, ../sass/_base.scss */
.br-inside {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 301, ../sass/_base.scss */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* line 312, ../sass/_base.scss */
.fleft {
  float: left;
}

/* line 316, ../sass/_base.scss */
.fright {
  float: right;
}

/* line 320, ../sass/_base.scss */
.r-pos {
  position: relative;
}

/* line 324, ../sass/_base.scss */
.a-pos {
  position: absolute;
}

/* line 333, ../sass/_base.scss */
.w100 {
  width: 100%;
}

/* line 337, ../sass/_base.scss */
.w100vw {
  width: 100vw;
}

/* line 341, ../sass/_base.scss */
.w90 {
  width: 90%;
}

/* line 345, ../sass/_base.scss */
.w80 {
  width: 80%;
}

/* line 349, ../sass/_base.scss */
.w80vw {
  width: 80vw;
}

/* line 353, ../sass/_base.scss */
.w70 {
  width: 69.8%;
}

/* line 357, ../sass/_base.scss */
.w45 {
  width: 45% !important;
}

/* line 361, ../sass/_base.scss */
.w33 {
  width: 32.3% !important;
}

/* line 365, ../sass/_base.scss */
.w33f {
  width: -moz-calc(32%);
  width: calc(32%);
}
@media (min-width: 480px) {
  /* line 365, ../sass/_base.scss */
  .w33f {
    width: calc(32.3%);
  }
}
@media (min-width: 768px) {
  /* line 365, ../sass/_base.scss */
  .w33f {
    width: calc(32.9%);
  }
}
@media (min-width: 992px) {
  /* line 365, ../sass/_base.scss */
  .w33f {
    width: calc(33%);
  }
}

/* line 383, ../sass/_base.scss */
.w30 {
  width: 30% !important;
}

/* line 387, ../sass/_base.scss */
.w20 {
  width: 20%;
}

/* line 391, ../sass/_base.scss */
.w10 {
  width: 10%;
}

/* line 395, ../sass/_base.scss */
.w50 {
  width: 49%;
}

/* line 402, ../sass/_base.scss */
.h100 {
  height: 100%;
}

/* line 406, ../sass/_base.scss */
.h61px {
  height: 61px !important;
}

/* line 410, ../sass/_base.scss */
.h62px {
  height: 62px !important;
}

/* line 419, ../sass/_base.scss */
.cinput-w100 {
  width: 100%;
}

/* line 423, ../sass/_base.scss */
.cinput-w90 {
  width: 90%;
}

/* line 427, ../sass/_base.scss */
.cinput-w80 {
  width: 80%;
}

/* line 431, ../sass/_base.scss */
.cinput-w75 {
  width: 74.3%;
}

/* line 435, ../sass/_base.scss */
.cinput-w60 {
  width: 59%;
}

/* line 439, ../sass/_base.scss */
.cinput-w50 {
  width: 49.2%;
}

/* line 443, ../sass/_base.scss */
.cinput-w49 {
  width: 49%;
}

/* line 447, ../sass/_base.scss */
.cinput-w40 {
  width: 40%;
}

/* line 451, ../sass/_base.scss */
.cinput-w25 {
  width: 25%;
}

/* line 455, ../sass/_base.scss */
.cinput-w20 {
  width: 20%;
}

/* line 459, ../sass/_base.scss */
.cinput-w33 {
  width: 33%;
}

/* line 470, ../sass/_base.scss */
.txt-xxs {
  font-size: 0.5em;
}

/* line 474, ../sass/_base.scss */
.txt-xs {
  font-size: 0.625em;
}

/* line 478, ../sass/_base.scss */
.txt-s {
  font-size: 0.750em;
}

/* line 482, ../sass/_base.scss */
.txt-m {
  font-size: 0.875em;
}

/* line 486, ../sass/_base.scss */
.txt-l {
  font-size: 1.286em;
}

/* line 490, ../sass/_base.scss */
.txt-l-res {
  font-size: 0.875em;
}
@media (min-width: 992px) {
  /* line 490, ../sass/_base.scss */
  .txt-l-res {
    font-size: 1.286em;
  }
}

/* line 497, ../sass/_base.scss */
.txt-xl {
  font-size: 1.375em;
}

/* line 501, ../sass/_base.scss */
.txt-xxl {
  font-size: 1.5em;
}

/* line 505, ../sass/_base.scss */
.txt-small {
  font-size: 1.8em;
}

/* line 509, ../sass/_base.scss */
.txt-med {
  font-size: 2em;
}

/* line 513, ../sass/_base.scss */
.txt-big {
  font-size: 2.5em;
}

/* line 517, ../sass/_base.scss */
.txt-xbig {
  font-size: 3em;
}

/* line 526, ../sass/_base.scss */
.cb-top-1 {
  border-top: 2px solid #ECF0F1;
}

/* line 530, ../sass/_base.scss */
.cb-bottom-1 {
  border-bottom: 2px solid #ECF0F1;
}

/* line 535, ../sass/_base.scss */
.cb-top-2 {
  border-top: 1px solid #D6DBDC;
}

/* line 539, ../sass/_base.scss */
.cb-bottom-2 {
  border-bottom: 1px solid #D6DBDC;
}

/* line 543, ../sass/_base.scss */
.cb-bottom-lh {
  border-bottom: 1px solid #f0f0f0;
}

/* line 547, ../sass/_base.scss */
.cb-left-2 {
  border-left: 1px solid #D6DBDC;
}

/* line 551, ../sass/_base.scss */
.cb-right-2 {
  border-right: 1px solid #D6DBDC;
}

/* line 555, ../sass/_base.scss */
.cb-right-3 {
  border-right: 1px solid #FFFFFF;
}

/* line 559, ../sass/_base.scss */
.cb-left-4 {
  border-left: 3px solid #D6DBDC;
}

/* line 563, ../sass/_base.scss */
.no-border-top {
  border-top: 0px;
}

/* line 567, ../sass/_base.scss */
.no-border-bottom {
  border-bottom: 0px;
}

/* line 571, ../sass/_base.scss */
.no-border-right {
  border-right: 0px;
}

/* line 575, ../sass/_base.scss */
.no-border {
  border: 0px;
}

/* line 585, ../sass/_base.scss */
.cprimary {
  color: #A3C642;
}

/* line 589, ../sass/_base.scss */
.csecondary  {
  color: #766054;
}

/* line 593, ../sass/_base.scss */
.copposite  {
  color: #C38089;
}

/* line 597, ../sass/_base.scss */
.c-contrast {
  color: #fff;
}

/* line 601, ../sass/_base.scss */
.c-check {
  color: #44DB5E;
}

/* line 605, ../sass/_base.scss */
.c-error {
  color: #E74C3C;
}

/* line 609, ../sass/_base.scss */
.c-g100 {
  color: #000;
}

/* line 613, ../sass/_base.scss */
.c-g80 {
  color: #333;
}

/* line 617, ../sass/_base.scss */
.c-g60 {
  color: #666;
}

/* line 621, ../sass/_base.scss */
.c-g50 {
  color: #7F7F7F;
}

/* line 625, ../sass/_base.scss */
.c-g40 {
  color: #999;
}

/* line 629, ../sass/_base.scss */
.c-g30 {
  color: #B2B2B2;
}

/* line 633, ../sass/_base.scss */
.c-g20 {
  color: #CCC;
}

/* line 637, ../sass/_base.scss */
.c-g10 {
  color: #F0F0F0;
}

/* line 641, ../sass/_base.scss */
.c-g05 {
  color: #F2F2F2;
}

/* line 645, ../sass/_base.scss */
.c-bg-10 {
  background-color: #F0F0F0;
}

/* line 649, ../sass/_base.scss */
.c-bg-05 {
  background-color: #F2F2F2;
}

/* line 653, ../sass/_base.scss */
.c-bg-10 {
  background-color: #F0F0F0;
}

/* line 657, ../sass/_base.scss */
.c-bg-contrast {
  background-color: #fff;
}

/* line 665, ../sass/_base.scss */
.bg-readliness {
  background-color: #F1C40F;
}

/* line 669, ../sass/_base.scss */
.bg-implementation {
  background-color: #92EFDA;
}

/* line 673, ../sass/_base.scss */
.bg-impact {
  background-color: #CB97F9;
}

/* line 677, ../sass/_base.scss */
.br-left-readliness {
  border-left: 4px solid #F1C40F;
}

/* line 681, ../sass/_base.scss */
.br-left-implementation {
  border-left: 4px solid #92EFDA;
}

/* line 685, ../sass/_base.scss */
.br-left-impact {
  border-left: 4px solid #CB97F9;
}

/* line 1, ../sass/_layout.scss */
#map-local-wrapper,
#wrapper-map-location {
  width: 100%;
  height: 300px;
  background-color: #efefef;
}
@media (min-width: 768px) {
  /* line 1, ../sass/_layout.scss */
  #map-local-wrapper,
  #wrapper-map-location {
    height: 468px;
  }
}

/* line 16, ../sass/_layout.scss */
#wrapper-igraphics {
  width: 100%;
  height: 400px;
}

/* line 21, ../sass/_layout.scss */
#map-global-wrapper,
#wrapper-mapping {
  height: 380px;
  padding: 0px 0px;
}
@media (min-width: 768px) {
  /* line 21, ../sass/_layout.scss */
  #map-global-wrapper,
  #wrapper-mapping {
    height: 468px;
  }
}
@media (min-width: 992px) {
  /* line 21, ../sass/_layout.scss */
  #map-global-wrapper,
  #wrapper-mapping {
    height: 768px;
  }
}

/* line 35, ../sass/_layout.scss */
#wrapper-piechart {
  height: 400px;
}

/* line 39, ../sass/_layout.scss */
#wrapper-spiderchart {
  height: 320px;
}

/* line 5, ../sass/_m-3parties.scss */
[data-accordion] > [data-control]::after {
  background: none;
}

/* line 10, ../sass/_m-3parties.scss */
[data-control], [data-content] > * {
  border-bottom: none !important;
  padding: 0px;
  line-height: 22px;
}

/* line 1, ../sass/_m-modal-detail.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-out;
  overflow-y: scroll;
}

/* line 23, ../sass/_m-modal-detail.scss */
.overlay-open {
  opacity: 1;
  visibility: visible;
}

/* line 28, ../sass/_m-modal-detail.scss */
.cmodal {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: auto;
  z-index: 50;
  transform: translate(-50%, 100%);
  visibility: hidden;
  opacity: 0;
  transition: all .6s ease-out;
}
@media (min-width: 768px) {
  /* line 28, ../sass/_m-modal-detail.scss */
  .cmodal {
    width: 90%;
  }
}

/* line 2, ../sass/_m-generales.scss */
body {
  font-family: "Merriweather", serif !important;
  background-color: #f8f8f8;
}

/* line 8, ../sass/_m-generales.scss */
.fmerriw {
  font-family: 'Merriweather', serif;
}

/* line 12, ../sass/_m-generales.scss */
.fos {
  font-family: 'Open Sans', sans-serif;
}

/* line 17, ../sass/_m-generales.scss */
.fosc {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* line 24, ../sass/_m-generales.scss */
.c-item {
  height: 260px;
}

/* line 29, ../sass/_m-generales.scss */
.p-sep-secc-bottom {
  padding-bottom: 60px;
}

/* line 33, ../sass/_m-generales.scss */
.p-sep-secc-top {
  padding-top: 60px;
}

/* line 37, ../sass/_m-generales.scss */
.bg-secc-clear {
  background-color: #fff;
}

/* line 41, ../sass/_m-generales.scss */
.nav-inside-country {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  border: 1px solid #A3C642;
}

/* line 49, ../sass/_m-generales.scss */
.nic-item {
  display: block;
}
@media (min-width: 768px) {
  /* line 49, ../sass/_m-generales.scss */
  .nic-item {
    display: block;
    float: left;
  }
}

/* line 58, ../sass/_m-generales.scss */
.a-nic {
  padding: 10px 15px;
}
@media (min-width: 768px) {
  /* line 58, ../sass/_m-generales.scss */
  .a-nic {
    padding: 10px 15px;
    border-right: 1px solid #A3C642;
  }
}

/* line 67, ../sass/_m-generales.scss */
li.nic-item:last-child a.a-nic {
  border-right: 0px;
}

/* line 71, ../sass/_m-generales.scss */
.nav-years {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  border: 1px solid #A3C642;
  margin-bottom: 0;
}
/* line 79, ../sass/_m-generales.scss */
.nav-years .a-i-years {
  display: block;
  padding: 10px 15px;
}
/* line 84, ../sass/_m-generales.scss */
.nav-years .i-years {
  display: inline-block;
}
/* line 88, ../sass/_m-generales.scss */
.nav-years .a-i-acc {
  background-color: #A3C642;
  color: #fff;
}

/* line 95, ../sass/_m-generales.scss */
.quality-list {
  margin: 20px 0px;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
}
/* line 101, ../sass/_m-generales.scss */
.quality-list .item-q {
  display: block;
  padding: 15px 20px 15px 40px;
  border-bottom: 2px solid #F2F2F2;
}

/* line 108, ../sass/_m-generales.scss */
.prio {
  display: block;
  border-radius: 50em;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  margin-right: 10px;
}

/* line 121, ../sass/_m-generales.scss */
.priotop {
  background-color: #A3C642;
}

/* line 125, ../sass/_m-generales.scss */
.priolow {
  background-color: #E74C3C;
}

/* line 130, ../sass/_m-generales.scss */
.cqdata {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50em;
  display: inline-block;
  position: absolute;
  top: 17px;
  left: 10px;
}

/* line 143, ../sass/_m-generales.scss */
.cqdata-il {
  width: 14px;
  height: 14px;
  border-radius: 50em;
  display: inline-block;
  position: relative;
  top: 2px;
  left: 0px;
}

/* line 154, ../sass/_m-generales.scss */
.cqdata-a {
  background-color: #7ED321;
}

/* line 158, ../sass/_m-generales.scss */
.cqdata-b {
  background-color: #F8E71C;
}

/* line 162, ../sass/_m-generales.scss */
.cqdata-c {
  background-color: #F5A623;
}

/* line 166, ../sass/_m-generales.scss */
.cqdata-d {
  background-color: #F6112D;
}

/* line 170, ../sass/_m-generales.scss */
.cqdata-na {
  background-color: #CCC;
}

/*## half circle left*/
/* line 175, ../sass/_m-generales.scss */
.cqdata-il-sml, .cqdata-il-smr {
  width: 20px;
  height: 10px;
  display: block;
  float: left;
  border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  transform: rotate(-90deg);
  margin-left: -35px;
  position: relative;
  top: 8px;
}

/* line 189, ../sass/_m-generales.scss */
.cqdata-il-smr {
  transform: rotate(90deg);
  margin-left: -25px;
}

/* line 194, ../sass/_m-generales.scss */
.bg-gray-at60 {
  background: -moz-linear-gradient(left, #F7F7F7 0, #F7F7F7 40%, transparent 40%);
  background: -webkit-linear-gradient(left, #F7F7F7 0, #F7F7F7 40%, transparent 40%);
  background: linear-gradient(left, #f7f7f7 0%, #f7f7f7 40%, rgba(0, 0, 0, 0) 40%);
}

/* line 201, ../sass/_m-generales.scss */
.label-compare {
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 50em;
  background-color: #efefef;
}

/* line 208, ../sass/_m-generales.scss */
.close-label {
  width: 18px;
  height: 18px;
}

/* line 214, ../sass/_m-generales.scss */
.sep-left-charts {
  border-left: 1px solid #CCC;
}

/* line 218, ../sass/_m-generales.scss */
.txt-sh-dark {
  text-shadow: 0px 0px 3px #fff;
}

/* line 224, ../sass/_m-generales.scss */
.reset_table {
  width: 100%;
  height: 100%;
  border: 0px;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: none;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  background-color: #fff;
}

/* line 239, ../sass/_m-generales.scss */
.info-bubble {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #A3C642;
  color: #fff;
  border-radius: 50em;
  margin-right: 5px;
}

/* line 251, ../sass/_m-generales.scss */
.table-responsive {
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.15) !important;
}

/* line 255, ../sass/_m-generales.scss */
.t-th {
  padding: 10px 10px;
  font-weight: lighter;
  border-right: 1px solid #F0F0F0;
}

/* line 261, ../sass/_m-generales.scss */
.t-th-green, .t-tf-green {
  background-color: #A3C642;
  color: #fff;
}

/* line 266, ../sass/_m-generales.scss */
.t-tf-dkgreen {
  background-color: #45551a;
}

/* line 270, ../sass/_m-generales.scss */
tr:nth-child(even) {
  background: #F2F2F2;
}

/* line 274, ../sass/_m-generales.scss */
.t-td {
  padding: 10px 10px;
  border-right: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}

/* line 280, ../sass/_m-generales.scss */
th.t-th:last-child, td.t-td:last-child {
  border-right: none;
}

/* line 284, ../sass/_m-generales.scss */
.t-tf {
  padding: 5px 10px;
}

/* line 288, ../sass/_m-generales.scss */
.t_indicators_body_loader {
  height: 310px;
}

/* line 292, ../sass/_m-generales.scss */
.acontrast:hover {
  color: #fff !important;
  text-decoration: underline;
}

/* line 297, ../sass/_m-generales.scss */
.main-disclaimer {
  background-color: #A3C642;
  color: #fff;
}

/* line 304, ../sass/_m-generales.scss */
.pos_loader_data {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.4);
}

/* line 314, ../sass/_m-generales.scss */
.pos_spinkit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 322, ../sass/_m-generales.scss */
.more-info-country {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 327, ../sass/_m-generales.scss */
.more-info-country .mic-i-a {
  display: block;
  padding: 10px 0px;
}
/* line 332, ../sass/_m-generales.scss */
.more-info-country .mic-i-control {
  display: block;
  position: absolute;
  z-index: -1;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-open-info.png");
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 3, ../sass/_m-formularios.scss */
.cbtn, .ctn-icon {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  text-align: center;
  line-height: 43px;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  border: none;
  background: transparent;
  outline: 0 none !important;
}
/* line 25, ../sass/_m-formularios.scss */
.cbtn:hover, .ctn-icon:hover, .cbtn:active, .ctn-icon:active, .cbtn:focus, .ctn-icon:focus, .cbtn:visited, .ctn-icon:visited {
  text-decoration: none;
}

/* line 31, ../sass/_m-formularios.scss */
.ctn-icon {
  line-height: 15px !important;
}

/* line 37, ../sass/_m-formularios.scss */
.cbtn-search {
  height: 45px;
}

/* line 41, ../sass/_m-formularios.scss */
.cbtn-block {
  width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 47, ../sass/_m-formularios.scss */
  .cbtn, .ctn-icon {
    line-height: 45px;
  }
}
/* line 52, ../sass/_m-formularios.scss */
.cbtn-corner {
  border-radius: 4px;
}

/* line 56, ../sass/_m-formularios.scss */
.cbtn-round {
  border-radius: 50em;
}

/* line 60, ../sass/_m-formularios.scss */
.cbtn-round-st {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

/* line 66, ../sass/_m-formularios.scss */
.cbtn-adj-ico-rst-med {
  position: relative;
  top: 6px;
  left: -5px;
}

/* line 72, ../sass/_m-formularios.scss */
.cbtn-st-pos-right {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 30;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.3);
}

/* line 81, ../sass/_m-formularios.scss */
.cbtn-rounded {
  border-radius: 50px;
}

/* line 85, ../sass/_m-formularios.scss */
.cbtn-line {
  border: 2px solid;
}

/* line 92, ../sass/_m-formularios.scss */
.cbtn-l-acc {
  border-color: #A3C642;
  color: #A3C642;
}
/* line 95, ../sass/_m-formularios.scss */
.cbtn-l-acc:hover, .cbtn-l-acc:focus, .cbtn-l-acc:active {
  border-color: #b6d269;
  background-color: #A3C642;
  color: #fff;
}

/* line 102, ../sass/_m-formularios.scss */
.cbtn-l-dis {
  cursor: default;
  border-color: #CCC;
  color: #CCC;
}
/* line 106, ../sass/_m-formularios.scss */
.cbtn-l-dis:hover, .cbtn-l-dis:focus, .cbtn-l-dis:active {
  color: #CCC;
}

/* line 117, ../sass/_m-formularios.scss */
.cbtn-s-sh {
  position: relative;
  top: 10px;
  box-shadow: 0px 2px 1px 0px #356300;
}

/* line 123, ../sass/_m-formularios.scss */
.cbtn-s-sh2 {
  box-shadow: 4px 5px 0px 0px #6E872A;
}

/* line 127, ../sass/_m-formularios.scss */
.cbtn-s-acc {
  background-color: #A3C642;
  color: #fff;
}
/* line 130, ../sass/_m-formularios.scss */
.cbtn-s-acc:hover, .cbtn-s-acc:focus, .cbtn-s-acc:active {
  color: #fff;
  background-color: #b6d269;
}
/* line 134, ../sass/_m-formularios.scss */
.cbtn-s-acc:active {
  /* Rectangle 86 Copy 3: */
  background-color: #85a431;
  box-shadow: inset 0px 3px 1px 0px #396407;
}

/* line 141, ../sass/_m-formularios.scss */
.cbtn-s-succ {
  background-color: #2ECC71;
  color: #fff;
}
/* line 144, ../sass/_m-formularios.scss */
.cbtn-s-succ:hover, .cbtn-s-succ:focus, .cbtn-s-succ:active {
  color: #fff;
  background-color: black;
}

/* line 151, ../sass/_m-formularios.scss */
.cbtn-s-cancel {
  background-color: #F0F0F0;
  color: #666;
}
/* line 154, ../sass/_m-formularios.scss */
.cbtn-s-cancel:hover, .cbtn-s-cancel:focus, .cbtn-s-cancel:active {
  color: #666;
  background-color: #fff;
}

/* line 162, ../sass/_m-formularios.scss */
.cbtn-s-dis {
  cursor: default;
  background-color: #CCC;
  color: #fff;
}
/* line 166, ../sass/_m-formularios.scss */
.cbtn-s-dis:hover, .cbtn-s-dis:focus, .cbtn-s-dis:active {
  background-color: #CCC;
}

/* line 171, ../sass/_m-formularios.scss */
.clbl {
  padding-left: 1em;
}

/* line 177, ../sass/_m-formularios.scss */
.rinput {
  border-collapse: separate;
  display: table;
  position: relative;
  width: 100%;
}
@media (min-width: 992px) {
  /* line 177, ../sass/_m-formularios.scss */
  .rinput {
    max-width: 300px;
  }
}

/* line 196, ../sass/_m-formularios.scss */
.rinputm {
  border-collapse: separate;
  display: table;
  position: relative;
  width: 100%;
  z-index: 10;
}

/* line 216, ../sass/_m-formularios.scss */
.rinput-button {
  display: table-cell;
  vertical-align: bottom;
  white-space: nowrap;
}

/* line 222, ../sass/_m-formularios.scss */
.rinput-button-search {
  width: 48px;
}

/* line 227, ../sass/_m-formularios.scss */
.cinput, .cinput-table-search {
  width: 100%;
  padding: 0.5em 1.2em 0.5em 0.5em;
  display: table-cell;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none !important;
  background: #FFFFFF;
  border: none;
  border-radius: 0px;
}
/* line 248, ../sass/_m-formularios.scss */
.cinput:focus, .cinput-table-search:focus {
  outline-width: 0;
  outline: 0 none;
  outline-color: transparent;
}

/* line 255, ../sass/_m-formularios.scss */
.cinput-sh {
  box-shadow: 4px 5px 0px 0px #6E872A;
}

/* line 259, ../sass/_m-formularios.scss */
.cinput-gray {
  background: #F7F7F7;
}

/* line 263, ../sass/_m-formularios.scss */
select::-ms-expand {
  display: none;
}

/* line 267, ../sass/_m-formularios.scss */
.cinput-search {
  float: left;
  text-overflow: ellipsis;
}

/* line 272, ../sass/_m-formularios.scss */
.cinput-table-search {
  padding: 1.2em 1.2em 1em 2em;
  background-image: url("../img/img-cinput-table-search.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

/* line 280, ../sass/_m-formularios.scss */
.cinput-s-arrow {
  background-image: url("../img/toggle-arrow.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

/* line 286, ../sass/_m-formularios.scss */
.cinput-b-arrow {
  background-image: url("../img/toggle-arrow-top.png");
  background-repeat: no-repeat;
  background-position: right 5px top 12px;
}

/* line 292, ../sass/_m-formularios.scss */
.cinput-disabled {
  background-color: #ededed;
  opacity: 0.8;
  pointer-events: none;
}

/* line 300, ../sass/_m-formularios.scss */
.adj-rimput-lang {
  position: relative;
  top: -2px;
}

/*# sourceMappingURL=screen.css.map */
