//## INIT ##//
body {
	font-family: 'Merriweather', serif!important;
	background-color: $bg-featured;
}

//## FONTS ##//
.fmerriw {
	font-family: 'Merriweather', serif;
}

.fos {
	font-family: 'Open Sans', sans-serif;
	//line-height: 20px!important;
}

.fosc {
	font-family: 'Open Sans Condensed', sans-serif;
}


//## Header ##//

.top-hero {
	margin-bottom: 220px;
}

.photo-gallery {
	position: absolute;
	bottom:-131px;
	left: 0;
	width: 100%;
	height: 260px;
	//background-color: #ccc;
}

.carousel-photo-gallery {
	width: 100%;
	height: 260px;
	background-color: transparent;
}

.c-item {
	height: 260px;
}

.fig-carousel {
	height: 260px;
}

.pos-txt-img-carousel {
	position: absolute;
	left: 15px;
	bottom: 30px;
	z-index: 12;
}

.cover-img-carousel {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.4);
}

.cover-pg .country-intro {
	width: 320px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	bottom: -75px;
	z-index: 5;

	@include modular-mq(sm) {
		width: 468px;
	}

	@include modular-mq(md) {
		width: 768px;
	}
}

.country-flag {
	width: 50px;
	height: 50px;
	border-radius: 50em;
	overflow: hidden;
	border: 4px solid #fff;
	box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.50);
}


//## Content ##//
.p-sep-secc-bottom {
	padding-bottom: 60px;
}

.p-sep-secc-top {
	padding-top: 60px;
}

.bg-secc-clear {
	background-color: $ccontrast;
}

.nav-inside-country {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	border: 1px solid $cprimary;
}

.nic-item {
	display: block;
	@include modular-mq(sm) {
		display: block;
		float: left;
	}

}

.a-nic {
	padding: 10px 15px;
	//border-right: 1px solid $cprimary;
	@include modular-mq(sm) {
		padding: 10px 15px;
		border-right: 1px solid $cprimary;
	}
}

li.nic-item:last-child a.a-nic {
	border-right: 0px;
}

.nav-years {
	display: inline-block;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	border: 1px solid $cprimary;
	margin-bottom: 0;
	
	.a-i-years {
		display: block;
		padding: 10px 15px;
	}

	.i-years {
		display: inline-block;
	}

	.a-i-acc {
		background-color:$cprimary;
		color: $ccontrast;
	}

}

.quality-list {
	margin: 20px 0px;
	padding: 0;
	list-style-type: none;
	background-color: $ccontrast;

	.item-q {
		display: block;
		padding: 15px 20px 15px 40px;
		border-bottom: 2px solid $c-g05;
	}
}

.prio {
	display: block;
	border-radius: 50em;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	
	color:$ccontrast;
	margin-right: 10px;
}

.priotop {
	background-color: $cprimary;
}

.priolow {
	background-color: $cattent;
}


.cqdata {
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 50em;
	display: inline-block;
	position: absolute;
	top:17px;
	left: 10px;
	
}

.cqdata-il {
	width: 14px;
	height: 14px;
	border-radius: 50em;
	display: inline-block;
	position: relative;
	top:2px;
	left: 0px;
	
}

.cqdata-a {
	background-color: #7ED321;
}

.cqdata-b {
	background-color: #F8E71C;
}

.cqdata-c {
	background-color: #F5A623;
}

.cqdata-d {
	background-color: #F6112D;
}

.cqdata-na {
	background-color: $c-g20;
}

/*## half circle left*/
.cqdata-il-sml, .cqdata-il-smr{
     width:20px;
     height:10px;
     display: block;
     float: left;
     border-radius: 20px 20px 0 0;
     -moz-border-radius: 20px 20px 0 0;
     -webkit-border-radius: 20px 20px 0 0;
     transform:rotate(-90deg);
     margin-left: -35px;
     position: relative;
     top:8px;
}

.cqdata-il-smr {
	 transform:rotate(90deg);
	 margin-left: -25px;
}

/*.bg-gray-at60 {
    background-color: none;
    //margin: 2px;
}*/

.bg-gray-at60{
    background: -moz-linear-gradient(left, #F7F7F7 0, #F7F7F7 40%, transparent 40%); 
    background: -webkit-linear-gradient(left, #F7F7F7 0, #F7F7F7 40%, transparent 40%); 
    background: -linear-gradient(left, #F7F7F7 0, #F7F7F7 40%, transparent 40%); 
}

.bg-media {
	background-color: #F7F7F7;
}

.sh-img-news {
	background: #EFEFEF;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.40);
	margin: 0px 0px 15px 0px;
	

	@include modular-mq(xs) {
		display: inline-block;
		float: left;
		margin: 0px 20px 0px 0px;
	}
}


.cover-img-news {
	width: 100%;
	height: 200px;
	background-color: #efefef;
	overflow: hidden;
	@include modular-mq(xs) {
		width: 218px;
		height: 122px;
	}
}


.blog-intro {
	display: block;
	width: 100%;
	@include modular-mq(md) {
		width: 218px;
		display: inline-block;
	}
}

.cover-img-blog {
	width: 100%;
	height: 200px;
	background-color: #efefef;
	overflow: hidden;

	@include modular-mq(xs) {
		width: 218px;
		height: 122px;
	}
}

.adj-blog {
	//margin-left: 30px;
	@include modular-mq(sm) {
		margin-left: 30px;
	}
}

.sh-img-blog {
	background: #EFEFEF;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.40);
	display: inline-block;
	//float: left;
	margin: 0px 0px 15px 0px;
	
	@include modular-mq(xs) {
		display: block;
		float: left;
		margin: 0px 20px 0px 0px;
	}

	@include modular-mq(md) {
		display: inline-block;
		float: none;
		margin:0px 0px 15px 0px;
	}
}

/*.cover-img-blog{
	width: 218px;
	height: 122px;
	background-color: #efefef;
	overflow: hidden;
}*/


.ico-cal {
	background-image: url("../img/ico-cal.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}

.ico-loc {
	background-image: url("../img/ico-loc.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}


.label-compare {
	padding: 5px 10px;
	margin-right: 5px;
	border-radius: 50em;
	background-color: #efefef;
}

.close-label {
	width: 18px;
	height: 18px;
}


.sep-left-charts {
	border-left: 1px solid $c-g20;
}

.txt-sh-dark {
	text-shadow: 0px 0px 3px #fff;
}


//## TABLE ##//
.reset_table {
	width: 100%;
	height: 100%;
    border: 0px; //1px solid;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: none; //$c-g20;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    background-color: $ccontrast;

	
}

.info-bubble {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background-color: $cprimary;
	color: $ccontrast;
	border-radius: 50em;
	margin-right: 5px;
}

.table-responsive {
	box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.15)!important;
}

.t-th {
	padding: 10px 10px;
	font-weight: lighter;
	border-right: 1px solid $c-g10;
}

.t-th-green, .t-tf-green {
	background-color: $cprimary;
	color: $ccontrast;
}

.t-tf-dkgreen {
	background-color: darken( $cprimary, 30% )
}

tr:nth-child(even) {
	background: $c-g05;
}

.t-td {
	padding: 10px 10px;
	border-right: 1px solid $c-g10;
	border-bottom: 1px solid $c-g10;
}

th.t-th:last-child, td.t-td:last-child {
	border-right: none;
}

.t-tf {
	padding: 5px 10px;
} 

.t_indicators_body_loader {
	height: 310px;
}

.share-buttons {
	width: 45px;
	position: fixed;
	top:50%;
	left: 0px;

	transform:translate(0,-50%);
	z-index: 50;
}

.share-b {
	display: block;
	width: 45px;
	height: 45px;
}

.share-b-facebook {
	background-color: #4D70A8;
}

.share-b-twitter {
	background-color: #00BAF2;
}

.share-b-googleplus {
	background-color: #E2411D;
}

.acontrast:hover {
	color:$ccontrast!important;
	text-decoration: underline;
}

.main-disclaimer {
	background-color: $cprimary;
	color: $ccontrast;
}


//## FAKES ##//
.fake-header {
	background-image:url("../img/fake-header-repeat.png");
	background-repeat: repeat-x;
}
.fake-footer {
	background-color: $cprimary;
}

//## LOADERS DATA ##//
.pos_loader_data {
	position: absolute;
	width: 100%;
	height: 100%;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
	background-color: rgba(255,255,255,0.4);
}

.pos_spinkit {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

//## DROPDOWNS INFO COUNTRY ##//
.more-info-country {
	margin: 0;
	padding: 0;
	list-style-type: none;

	.mic-i-a {
		display: block;
		padding: 10px 0px;
	}

	.mic-i-control {
		display: block;
		position: absolute;
		
		z-index: -1;

		top: 10px;
		right: 10px;

		width: 20px;
		height: 20px;
		background-image: url("../img/icon-open-info.png");
		background-repeat: no-repeat;
		background-position: center center;
	}
}


