@import "compass/css3/border-radius";

$grey:  #999999;
/* @import "config"; */
/* @import "variables"; */
/* @import "base"; */
/* @import "layout"; */
/* @import "modulos"; */

body {
    background-color: #f8f8f8;
}

section {
    margin: 2em auto;
    header h2 {
        margin-top: 0;
    }
}

form {
    margin: 5px auto;
    input {
        width: 100%;
    }
}

/* loader block / also using spinkit */
.loading {
    position: relative;
    margin-bottom: 4em;
    p {
        position: absolute;
        top: 30px;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: $grey;
        font-size: 12px;
    }
}

/* LGAF visualization styles */
.lgaf-value-a {
    background-color: #7ED321;
}
.lgaf-value-b {
    background-color: #F8E71C;
}
.lgaf-value-c {
    background-color: #F5A623;
}
.lgaf-value-d {
    background-color: #F6112D;
}
.lgaf-value-na {
    background-color: $grey;
}
#lgaf-values li {
    padding: 15px 20px;
    border-bottom: 2px solid #F2F2F2;
    background-color: #FFFFFF;
}
#lgaf-values li span:first-of-type,
#lgaf-legend li span:first-of-type {
     width: 1em;
     height: 1em;
     display: inline-block;
     @include border-radius(20px);
}
